@using Entities.Models

@model Product

<div class="col-sm-12 col-md-4 my-3">
    <!-- Card -->
    <div class="card">
        <!-- Card image -->
        <div class="view overlay">
            <img class="card-img-top" src="@Model?.ImageUrl"
                 alt="Card image cap">
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>

        <!-- Card content -->
        <div class="card-body">

            <!-- Title -->
            <h4 class="card-title">@Model.ProductName</h4>
            <!-- Text -->
            <p class="card-text">
                @Model.ProductPrice ₺
            </p>
            <!-- Button -->
            <div class="btn btn-group">
                <a class="btn btn-outline-primary" asp-action="Get" asp-route-id="@Model.ProductId">Get Details</a>
                <form id="@Model.ProductId" asp-page="/Cart" method="post">
                    <input type="hidden" asp-for="ProductId"/>
                    <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                    <button type="submit" class="btn btn-outline-warning"><i class="fa-solid fa-cart-plus"></i></button>
                </form>
            </div>
        </div>

    </div>
    <!-- Card -->
</div>